<div class="hero-banner__container">
	<div class="hero-banner__text">
		<div class="hero-banner__text-heading">Be The Reason</div>
		<div class="hero-banner__text-heading">Someone Smiles Today</div>
		<div class="hero-banner__text-description">
			Our platform bridges the gap between those with an abundance and those in
			need, fostering a community of kindness and generosity. Together, we turn
			surplus into sustenance, transforming every meal into a beacon of hope and
			compassion.
		</div>
		<div class="hero-banner__text-description">
			Join us in spreading love, one plate at a time !

		</div>
		<div class="hero-banner__text-buttons">
			<button routerLink="/donate-food" type="button" class="hero-banner__text-buttons-donate btn">
				Share food
				<img
					class="hero-banner__text-buttons-donate-icon"
					alt="donate"
					src="../../assets/icons/homepage/gift.svg"
				/>
			</button>
			<button routerLink="/receive-food" type="button" class="hero-banner__text-buttons-grab btn">
				Get food
				<img
					class="hero-banner__text-buttons-grab-icon"
					alt="grab"
					src="../../assets/icons/homepage/dish.svg"
				/>
			</button>
		</div>
	</div>
	<div class="hero-banner__image">
		<img
			class="hero-banner__image-banner"
			alt="hero-banner"
			src="./assets/images/homepage/hero-banner.png"
		/>
	</div>
</div>
