// color
$primary-color: #CEF2FE;
$text-orange: #FD6627;
$light-theme-color: white;
$dark-theme-color: rgb(19, 22, 37);
$donate-red: rgb(235, 90, 88);
$grab-blue: rgb(72, 210, 245);

// margin and alignment
$content-padding: 10%;

// text
$heading-font: "Bradley Hand", cursive;
$description-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
