@import "../src/variables/style/layout-variables.scss";

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $scroll-color;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $scroll-color-dark;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
